#bars{
	width: 48%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.4vw;
	justify-content: space-between;
	transform: translate(-0.5vw, 0);
}
#bars .long{
	width: 100%;
	height: 1.5vw;
	margin-bottom: 0.3vw;
	box-sizing: border-box;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	transform: skew(165deg);
}
#bars .long:nth-child(1){
	transform: translate(0.5vw, 0) skew(165deg);
}
#bars .long .progress{
	display: block;
	height: calc(100% - 0.4vw);
	position: absolute;
	top: 50%;
	left: 0.2vw;
	transform: translate(0, -50%);
}
#bars .long .progress_green{
	background-color: #00dc7d;
}
#bars .long .progress_red{
	background-color: #a20f1e;
}
#bars .long .progress_white{
	background-color: white;
}
#bars .long .text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) skew(15deg);
	z-index: 1;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 0.9vw;
}
#bars .long .text_white{
	color: white;
}
#bars .long .text_black{
	color: white;
	mix-blend-mode: difference;
}
#bars .short{
	margin-top: 0.3vw;
	width: 47%;
	height: 2.2vw;
	box-sizing: border-box;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	transform: translate(-0.6vw, 0) skew(165deg);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#bars .short_low{
	background-color: rgba(120, 0, 0, 0.4);
}
#bars .short_normal{
	background-color: rgba(227, 150, 44, 0.4);
}
#bars .short_good{
	background-color: rgba(255, 241, 44, 0.4);
}
#bars .short_high{
	background-color: rgba(97, 255, 44, 0.4);
}
#bars .short .icon{
	transform: skew(15deg);
	margin-right: 15%;
	height: 1.9vw;
	display: flex;	
	align-items: center;	
}
#bars .short .icon img{
	height: 0.9vw;
}
#bars .short .text{
	transform: skew(15deg);
	z-index: 1;
	line-height: 1.9vw;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 0.9vw;
	color: white;
}