@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Light.ttf");
	font-style: normal;
	font-weight: 200;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Medium.ttf");
	font-style: normal;
	font-weight: 600;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Bold.ttf");
	font-style: normal;
	font-weight: 800;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Black.ttf");
	font-style: normal;
	font-weight: 900;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-LightItalic.ttf");
	font-style: italic;
	font-weight: 200;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Italic.ttf");
	font-style: italic;
	font-weight: 400;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-MediumItalic.ttf");
	font-style: italic;
	font-weight: 600;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-BoldItalic.ttf");
	font-style: italic;
	font-weight: 800;
}

@font-face{
	font-family: Montserrat;
	src: url("../fonts/Montserrat-BlackItalic.ttf");
	font-style: italic;
	font-weight: 900;
}

/* BITTER */

@font-face{
	font-family: Bitter;
	src: url("../fonts/Bitter-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: Bitter;
	src: url("../fonts/Bitter-Medium.ttf");
	font-style: normal;
	font-weight: 450;
}

@font-face{
	font-family: Bitter;
	src: url("../fonts/Bitter-SemiBold.ttf");
	font-style: normal;
	font-weight: 500;
}

@font-face{
	font-family: Bitter;
	src: url("../fonts/Bitter-ExtraBold.ttf");
	font-style: normal;
	font-weight: 600;
}

/* JetBrains */


@font-face{
	font-family: JetBrains;
	src: url("../fonts/JetBrainsMono-Bold.ttf");
	font-style: normal;
	font-weight: 600;
}